:root {
  --css-interop-darkMode: class dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Do not use !important on global selectors or it breaks vector icons! */
  body, html {
    font-family: 'Outfit_400Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}

/* Hide Edge/Chrome's default password reveal button and clear button */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}
